<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="To_DoListWinForms.Properties.Settings.todolistitemsConnectionString"
            connectionString="server=localhost;User Id=root;password=password;Persist Security Info=True;database=todolistitems"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
