<?xml version="1.0" encoding="utf-8"?>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDataManager" type="ToDoList.Common.IDataManager" />
    <namespace name="ToDoList.Common" />
    <assembly name="ToDoList.Common" />

    <namespace name="ToDoListMVCWebApp" />
    <assembly name="ToDoListMVCWebApp" />
    
    <container>
      <register type="IDataManager" name="dataManager" mapTo="Manager.MySqlDataManager" />
      <register type="Controllers.HomeController" name="homeController"/>
      <register type="Controllers.ItemsController" name="itemsController"/>
    </container>
  </unity>