.weekItem {
    box-shadow: 0 0 1px 0 gray;
    min-height: 70px;
}
.weekItemHeader {
        text-align: center;
    width: 100px;
    float:left
}

.weekDate {
      font-size: 28px;
    margin: auto;
    width: auto;
    color: gray;
}
.weekDay {
    color: orange;
}

.weekItemContent {
     padding: 5px;
}

.week li{
     display: inline;
}

.week {
     margin: 0;
    padding: 0;
}

.itemContainer {
    background-color: #FFFF76;
    border: 1px solid yellow;
    box-shadow: 5px 5px 7px -7px gray;
    display: inline;
    margin: 2px;
    opacity: 0.7;
    padding: 1px;
}

.itemContainer:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 5px 7px 15px -7px gray;
}

.lookupButtonWeek {
}